#!/bin/bash

DCI_CS_URL="https://api.distributed-ci.io/"
DCI_CLIENT_ID="{{ lookup('env', 'DCI_CLIENT_ID') }}"
DCI_API_SECRET="{{ lookup('env', 'DCI_API_SECRET') }}"
export DCI_CS_URL
export DCI_CLIENT_ID
export DCI_API_SECRET
