#!/bin/bash

DCI_CS_URL="https://api.distributed-ci.io/"
DCI_LOGIN="{{ lookup('env', 'DCI_LOGIN') }}"
DCI_PASSWORD="{{ lookup('env', 'DCI_PASSWORD') }}"
export DCI_CS_URL
export DCI_LOGIN
export DCI_PASSWORD
