#!/bin/bash

DEST_REGISTRY_USER="{{ lookup('env', 'DEST_REGISTRY_USER') }}"
DEST_REGISTRY_PASSWORD="{{ lookup('env', 'DEST_REGISTRY_PASSWORD') }}"
export DEST_REGISTRY_USER
export DEST_REGISTRY_PASSWORD
